.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
!dist/**/*.js
node_modules/**
test-app/**
confidential/**
**/.env
**/*.log
.git/**
BUILD.md
docs/**
